---
import Layout from "../../../layouts/BaseLayout.astro";
import Grid from "../../../components/Grid.astro";
import SeriesCard from "../../../components/SeriesCard.astro";
import PageNav from "../../../components/PageNav.astro";
const title = "My Blog (by Series)";
const description = "A list of all my blog posts";
export async function getStaticPaths({ paginate }) {
  const allSeries = await Astro.glob("../../../components/series/*.mdx");
  return paginate(allSeries, { pageSize: 10 });
}
const { page } = Astro.props;
---

<Layout title={title} description={description}>
  <p>Here are all my posts by series.</p>
  <Grid>
    {page.data.map((series) => <SeriesCard {series}/>)}
  </Grid>
  <PageNav page={page} />
</Layout>
