---
import Layout from "../../layouts/Layout.astro";
import NavCard from "../../components/NavCardStrapi.astro";
import Tags from "../../components/Tags.astro";
import PageNav from "../../components/PageNav.astro";
import blogsArray from "../../components/fetchBlogs";
const title = "My Blog";
const description = "A list of all my blog posts";

export async function getStaticPaths({ paginate }) {
    const reversedArray = [...blogsArray].reverse();
    return paginate(reversedArray, { pageSize: 10 });
}
const { page } = Astro.props;
---

<Layout title={title} description={description}>
    <p>Choose a topic, or read them all!</p>
    <Tags />
    <ul>
        {
            page.data.map((blog) => (
                <>
                    <NavCard post={blog} />
                </>
            ))
        }
    </ul>
    <PageNav page={page} />
</Layout>
<style>
    ul {
        padding: 0;
        margin: 0;
    }
    a {
        text-decoration: none;
        color: black;
        display: block;
        padding: 1rem;
    }
    li {
        list-style: none;
        border: 1px solid black;
        border-radius: 4px;
        margin: 1rem 0;
    }
    img {
        height: 80px;
        width: auto;
        float: right;
        margin-left: 1rem;
    }
    h3 {
        margin-top: 0px;
    }
</style>
