---
import Layout from "../../layouts/BlogLayoutStrapi.astro";
const fetchblogsasync = async () => {
    const response = await fetch("http://192.168.1.109:1337/api/blogs", {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            //@ts-ignore
            authorization: `bearer ${import.meta.env.API_TOKEN}`,
        },
    });
    const data = await response.json();
    return data;
};

const fetchdata = await fetchblogsasync();
const blog = fetchdata.data[0].attributes;
const blogs = fetchdata.data;
---

<Layout blog={blog} blogs={blogs}>
    <p>{fetchdata.data[0].attributes.content}</p>
</Layout>
