---
import Layout from "../layouts/Layout.astro";
const title = "Contact Me";
const description = "How to contact Rohan Nelson";
---

<Layout title={title} description={description}>
    <p>Want to get in touch? Here's how!</p>
</Layout>
