---
import Layout from "../layouts/Layout.astro";
const title = "Welcome to My Website!";
const description = "A description for my home page";
---

<Layout title={title} description={description}>
    <p>This is a website where I can publish random things!</p>
</Layout>
