---
import Layout from '../layouts/BaseLayout.astro'
import Grid from '../components/Grid.astro'
import { Icon } from 'astro-icon/components'
import FeatureCard from '../components/FeatureCard.astro'
const title = 'Welcome!'
const description = "Rohan Nelson's home page and blog."
---

<Layout title={title} description={description}>
	<div class="wrapper flex text-balance pl-[10px] md:-mx-3">
		<p
			class="focus m-0 self-center hyphens-auto pr-[25px] text-[calc(40rem/16)] leading-[calc(50rem/16)] sm:pr-0 sm:text-[calc(24rem/16)] sm:leading-[calc(34rem/16)] md:text-[calc(32rem/16)] md:leading-[calc(40rem/16)]"
		>
			Hi, I'm <strong
				class="m-0 self-center text-[calc(40rem/16)] leading-[calc(50rem/16)] sm:pr-0 sm:text-[calc(24rem/16)] sm:leading-[calc(34rem/16)] md:text-[calc(32rem/16)] md:leading-[calc(40rem/16)]"
				>Rohan</strong
			>, and this is&nbsp;my personal website and&nbsp;blog!
		</p>
		<img
			class="profile ml-auto h-auto w-full max-w-[29vw] shrink-0 basis-40 self-center rounded"
			src="/img/portrait.jpg"
		/>
	</div>
	<h2 class="mb-2 mt-6 pl-[10px]">What's Here?</h2>
	<Grid>
		<FeatureCard heading="A Blog" linkObj={{ label: 'Read blog', href: '/blog' }} icon="quill">
			<div class="space-y-3">
				<p>I've been using this space to share and reflect on my own&nbsp;experiences.</p>
				<p>
					In a recent series,
					<a href="/blog/series/today I learned..." class="underline">'Today I learned...',</a> I've
					started journ&shy;alling about web development.
				</p>
				<p>
					I've also been writing about my exper&shy;iences of Christi&shy;anity, for example:
					<a href="/blog/series/reading the bible" class="underline">Reading&nbsp;The&nbsp;Bible.</a
					>
				</p>
				<p>
					The posts are org&shy;anised into series, and generally each series is intended to be read
					in&nbsp;order.
				</p>
			</div>
		</FeatureCard>
		<FeatureCard
			heading="Web Experiments"
			linkObj={{ label: 'View Projects', href: '/projects' }}
			,
			icon="code"
		>
			<div class="space-y-3">
				<p>
					I've been learning web devel&shy;opment for fun since late 2021. This site is an
					oppor&shy;tunity for me to play around and try some&nbsp;things.
				</p>
				<p>
					For example, I've been learning various technol&shy;ogies including React and SQL by
					making a
					<a href="/projects" class="underline">board&nbsp;games&nbsp;app</a>.
				</p>
				<p>
					Also, check out <a href="https://livinggracedianella.org.au" class="underline"
						>Living Grace Dianella's new website!</a
					> It was built by me and some friends using Astro and&nbsp;Strapi.
				</p>
			</div>
		</FeatureCard>
	</Grid>
</Layout>
