---
import Layout from '../layouts/BaseLayout.astro'
---

<Layout title="Sign Up" description="Registration page for my board games app.">
	<p>Already have an account? <a href="/login">Sign in</a></p>
	<form action="/api/auth/sign-up" method="post">
		<label for="email">Email</label>
		<input type="email" name="email" id="email" />
		<label for="password">Password</label>
		<input type="password" name="password" id="password" />
		<button type="submit">Login</button>
	</form>
	<form action="/api/auth/login" method="post">
		<button value="github" name="provider" type="submit">Sign in with GitHub</button>
	</form>
</Layout>
