---
import BaseLayout from '../layouts/BaseLayout.astro'
import Button from '../components/Button.astro'
---

<BaseLayout title="Subscribe" description="Keep up to date with the latest from rohannelson.com">
	<div class="flex">
		<form action="/api/subscribe" method="post" class="mx-auto flex flex-col space-y-2">
			<div class="flex space-x-4">
				<label class="flex flex-col text-lg font-medium text-dark-grey">
					First Name
					<input
						type="text"
						name="firstName"
						required
						oninvalid="this.setCustomValidity('Please enter your first name')"
						oninput="setCustomValidity('')"
						class="w-fit rounded border border-solid border-light-grey px-2 py-1.5 text-base"
					/>
				</label>
				<label class="flex flex-col text-lg font-medium text-dark-grey">
					Last Name
					<input
						type="text"
						name="lastName"
						class="w-fit rounded border border-solid border-light-grey px-2 py-1.5 text-base"
					/>
				</label>
			</div>
			<label class="flex flex-col text-lg font-medium text-dark-grey">
				Email
				<input
					type="email"
					name="email"
					required
					oninvalid="this.setCustomValidity('Please enter valid email')"
					oninput="setCustomValidity('')"
					class="w-full rounded border border-solid border-light-grey px-2 py-1 text-base"
				/>
			</label>
			<div class="pt-1">
				<Button>Subscribe</Button>
			</div>
		</form>
	</div>
</BaseLayout>
