---
import Layout from '../../../layouts/BaseLayout.astro'
import Grid from '../../../components/Grid.astro'
import FourInARow from '../../../components/games/FourInARow.jsx'
import Checkers from '../../../components/games/Checkers.jsx'
import FeatureCard from '../../../components/FeatureCard.astro'
import GameCard from '../../../components/GameCard.astro'
const title = 'Board Games App'
const description = 'Learning by doing.'
console.log('locals', Astro.locals)
const { email } = Astro.locals
---

<Layout title={title} description={description}>
	{
		(
			<p class="mb-4">
				Check out these games that I made for fun!{' '}
				{email == 'Guest' && (
					<>
						If you <a href="/sign-in">sign in</a> you can change the player&nbsp;colours.
					</>
				)}
			</p>
		)
	}
	<div class="space-y-10">
		<GameCard
			name="TicTacToe"
			slug="tictactoe"
			icon="tictactoe"
			description="The classic game of noughts and crosses – made with React."
			players="2"
			difficulty="easy"
		/>
		<GameCard
			name="Four in a Row"
			slug="four-in-a-row"
			description="Can you get four in a row? Made with React."
			players="2"
			difficulty="easy"
			colour="green"
		/>
		<GameCard
			name="Checkers"
			slug="checkers"
			description="An oldy but a goody. Made with React."
			players="2"
			difficulty="medium"
			colour="blue"
		/>
	</div>
</Layout>
<!-- Games Shared Styling -->
<style is:global>
	.breaker {
		height: 30px;
	}
	.reset {
		padding: 10px;
		border-radius: var(--border-radius);
		color: var(--light-red);
		border: 3px solid var(--light-red);
		background: white;
		font-weight: 700;
		margin-left: auto;
	}
	.reset:hover {
		background: var(--light-red);
		color: white;
		cursor: pointer;
	}
	.status {
		margin-bottom: 15px;
		align-self: center;
		font-weight: 700;
	}
	.flex-row {
		display: flex;
		align-items: flex-end;
	}
	h2 {
		margin-top: 10px;
	}
</style>
<!-- Tic Tac Toe Styling -->
<style is:global>
	.tictactoe .square {
		background: #fff;
		border: 1px solid #999;
		float: left;
		font-size: 30px;
		font-weight: bold;
		line-height: 34px;
		height: 50px;
		margin-right: -1px;
		margin-top: -1px;
		padding: 0;
		text-align: center;
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.tictactoe .board-row:after {
		clear: both;
		content: '';
		display: table;
	}
	.tictactoe .game {
		display: flex;
		flex-direction: row;
	}
	.tictactoe .wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
</style>

<!--Four In A Row Styling-->
<style is:global>
	.fiar .circle {
		background: #fff;
		border: 1px solid #999;
		height: 32px;
		padding: 0;
		margin: 1px;
		width: 32px;
		border-radius: 100%;
		float: left;
	}
	.fiar .board {
		height: 210px;
		width: 250px;
		padding: 3px;
		background: var(--light-red);
		z-index: -1;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
	}
	.fiar .board-column:after {
		clear: both;
		content: '';
		display: table;
	}
	.fiar .inputWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 250px;
		padding: 5px;
	}
	.fiar .input {
		width: 31px;
		margin: 1px;
		font-size: 17px;
		padding-bottom: 4px;
	}
	.fiar .circle.green {
		background: #9ede8f;
		border: 2px solid var(--light-green);
	}

	.fiar .circle.blue {
		background: #3edfff;
		border: 2px solid var(--light-blue);
	}
	.fiar .wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
</style>
<!--Checkers Styling-->
<style is:global>
	.checkers .square {
		background: #fff;
		border: 1px solid #999;
		float: left;
		height: 33px;
		margin-right: -1px;
		margin-top: -1px;
		padding: 0;
		text-align: center;
		width: 33px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.checkers .board-row:after {
		clear: both;
		content: '';
		display: table;
	}
	.blackChecker {
		background-color: black;
		border: 1px solid white;
		height: 90%;
		width: 90%;
		border-radius: 100%;
	}
	.blackCheckerKing {
		border: 3px solid gold;
	}
	.whiteChecker {
		background-color: white;
		border: 1px solid black;
		height: 90%;
		width: 90%;
		border-radius: 100%;
	}
	.whiteCheckerKing {
		border: 3px solid gold;
	}
	.square.black {
		background: gray;
	}
	.placeholder {
		cursor: url(whiteChecker.svg), default;
		cursor: url(blackChecker.svg), default;
	}
	.blackHeld {
		cursor: url(blackChecker.svg), default;
	}
	.checkers .wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
</style>
