---
import Layout from '../../../layouts/GamesLayout.astro'
import TicTacToe from '../../../components/games/TicTacToe'
const title = 'TicTacToe'
const description = 'The classic game of noughts and crosses, made with React'
---

<Layout title={title} description={description}>
	<div>
		<TicTacToe client:load />
	</div>
</Layout>
