---
const { cardColour = "red", link } = Astro.props;
const cardColourVar = `var(--${cardColour}-gradient-diagonal)`
---
<a href={link}>
<div class="outer">
    <slot name="header"/>
    <div class="inner">
        <slot/>
    </div>
</div>
</a>
<style define:vars={{cardColourVar}}>
    a {
        border-radius: var(--border-radius);
        text-decoration: none;
    }
    div.outer {
        display: flex;
        flex-direction: column;
        background: var(--cardColourVar);
        padding: 0 20px 20px 20px;
        border-radius: var(--border-radius);
        height: 100%;
        width: 100%;
        margin-top: 0.625rem;
    }
    div.inner {
        background: white;
        border-radius: var(--border-radius);
        padding: 5px 20px 20px 20px;
        height: 100%;
        margin-top: 1.2rem;
    }
</style>