---

---

<footer
	class="mb-10 ml-[--margin-width] mt-[60px] flex h-10 items-center justify-end rounded-l-[--border-radius] bg-gradient-to-r from-light-grey to-dark-grey pr-[max(var(--margin-width),var(--margin-min))] lg:m-0 lg:mt-[45px] lg:h-[50px] lg:w-full lg:rounded-none lg:pb-[5px]"
>
	<p class="text-[length:--font-size-h4] font-bold text-white">© 2024 Rohan Nelson</p>
</footer>
