---

---

<div class="grid-container">
	<slot />
</div>
<style>
	div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		width: 100%;
	}
	@media (max-width: calc(639rem / 16)) {
		div {
			grid-template-columns: 1fr;
		}
	}
</style>
