---
---

<header>
    <div>
        <a href={Astro.site}>RN</a>
    </div>
    <nav>
        <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        display: flex;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid gray;
    }
    nav {
        width: 100%;
    }
    ul {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    li {
        list-style: none;
        padding: 0 1rem;
    }
    a {
        text-decoration: none;
    }
</style>
