---
const { frontmatter, seriesColour } = Astro.props
import { capitalise } from './utils.js'
const seriesColourLight = `var(--light-${seriesColour})`
---

<style define:vars={{ seriesColourLight }}></style>
<a
	class="series block w-fit rounded-[--border-radius] border-[3px] border-solid border-[--seriesColourLight] bg-[--seriesColourLight] px-[10px] py-[6px] text-[length:--font-size-h4] font-bold text-white no-underline hover:bg-white hover:text-[--dark-grey]"
	href={`/blog/series/${frontmatter.series}`}
>
	{capitalise(frontmatter.series)}
</a>
{
	frontmatter.context && (
		<p>
			<b>Context:</b>
			<span class="m-0 ml-2 italic text-[--seriesColourLight]">{frontmatter.context}</span>
		</p>
	)
}
