---
const { post, titlePrefix = "" } = Astro.props;
console.log(post);
---

<li>
    <a href={post.url}>
        <img src={post.attributes.image} />
        <h3>{titlePrefix + post.attributes.title}</h3>
        <p>{post.attributes.description}</p>
    </a>
</li>
<style>
    ul {
        padding: 0;
        margin: 0;
    }
    a {
        text-decoration: none;
        color: black;
        display: block;
        padding: 1rem;
    }
    li {
        list-style: none;
        border: 1px solid black;
        border-radius: 4px;
        margin: 1rem 0;
        background-color: var(--light-grey);
    }
    li:hover,
    li:focus {
        transform: scale(102%);
    }
    img {
        height: 80px;
        width: auto;
        float: right;
        margin-left: 1rem;
    }
    h3 {
        margin-top: 0px;
    }
</style>
