---
const { page } = Astro.props;
---
<div>
    {page.url.prev ? <a href={page.url.prev}>Previous page</a> : null}
    {page.lastPage > 1 ? <p>Page {page.currentPage} of {page.lastPage}</p> : null}
    {page.url.next ? <a href={page.url.next}>Next page</a></p> : null}
</div>
<style>
    div {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    div a { 
    padding: 0;
    text-decoration: underline}
    div p {
        font-size: 16px;
    }
    </style>