---
import Button from '../components/Button.astro'
---

<div class="mt-5 rounded-[--border-radius] bg-light-red p-[1.2rem]">
	<h2 class="text-white md:text-2xl">Join my Mailing List</h2>
	<div class="flex rounded-[--border-radius] bg-white py-4">
		<form
			action="/api/subscribe"
			method="post"
			id="subscribe"
			class="relative mx-auto flex flex-col space-y-2 md:px-4"
		>
			<div class="mt-1">
				<p class="!mt-0">
					Want to know what's new on my&nbsp;blog?<br />Sign up here! (Max six emails per&nbsp;year)
				</p>
			</div>
			<div class="flex space-x-4 md:flex-col md:space-x-0">
				<label class="flex flex-col text-lg font-medium text-dark-grey">
					First Name*
					<input
						type="text"
						name="firstName"
						id="firstName"
						required
						oninvalid="this.setCustomValidity('Please enter your first name')"
						oninput="setCustomValidity('')"
						class="w-fit rounded border border-solid border-light-grey px-2 py-1.5 text-base md:w-full"
					/>
				</label>
				<label class="flex flex-col text-lg font-medium text-dark-grey">
					Last Name
					<input
						type="text"
						name="lastName"
						id="lastName"
						class="w-fit rounded border border-solid border-light-grey px-2 py-1.5 text-base md:w-full"
					/>
				</label>
			</div>
			<label class="flex flex-col text-lg font-medium text-dark-grey">
				Email*
				<input
					type="email"
					name="email"
					id="email"
					required
					oninvalid="this.setCustomValidity('Please enter valid email')"
					oninput="setCustomValidity('')"
					class="w-full rounded border border-solid border-light-grey px-2 py-1 text-base"
				/>
			</label>
			<div class="flex w-full flex-row pt-1.5 md:flex-col">
				<div>
					<Button>Subscribe</Button>
					<p
						id="status"
						class="!mt-1 mb-[0.3rem] ml-3 mr-auto self-end font-medium text-light-grey"
					>
					</p>
				</div>
				<div class="relative ml-auto h-[72.5px] w-[300px] md:w-full md:pt-2">
					<div
						class="cf-turnstile absolute left-0"
						data-sitekey="0x4AAAAAAAZZ46tfw_-gA1lA"
						data-theme="light"
						data-size="normal"
					>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	const form = document.querySelector('#subscribe')
	const firstName = document.querySelector('#firstName')
	const lastName = document.querySelector('#lastName')
	const email = document.querySelector('#email')
	const status = document.querySelector('#status')
	const turnstile = document.querySelector("input[name='cf-turnstile-response']")
	form.addEventListener('submit', (e) => {
		e.preventDefault()
		status.textContent = 'Loading...'
		const method = e.target.method
		const formData = new FormData()
		formData.append('firstName', firstName.value)
		formData.append('lastName', lastName.value)
		formData.append('email', email.value)
		formData.append('cf-turnstile-response', turnstile?.value ?? '')
		async function submitSubscription() {
			try {
				const response = await fetch('/api/subscribe', {
					method: method,
					body: formData
				})
				console.log('response', response)
				const data = await response.json()
				return data
			} catch (error) {
				console.error('Error:', error)
				status.textContent = 'Error - try again later'
			}
		}
		submitSubscription().then((data) => {
			console.log(data)
			if (data.statusCode == 201) {
				status.textContent = 'Check your email!'
			} else if (data.statusCode == 204) {
				status.textContent = 'Updated'
			}
		})
	})
</script>
