---
const capitalise = (str) => {
	return str.charAt(0).toUpperCase() + str.slice(1)
}
const series = await Astro.glob('./series/*.mdx')
---

<ul class="flex flex-wrap gap-y-[10px] p-0">
	{
		series.map((series) => {
			let seriesURL = `/blog/series/${series.frontmatter.series}/1`
			return (
				<li
					style={`background: var(--${series.frontmatter.seriesColour}`}
					class="mr-2 bg-light-grey"
				>
					<a class="series" href={seriesURL}>
						{capitalise(series.frontmatter.series)}
					</a>
				</li>
			)
		})
	}
</ul>
