---
const { title } = Astro.props;
---

<div class="titleWrapper">
  <h1>{title}</h1>
</div>
<div class="stickyBorder"></div>
<style>
  :root {
  }
  div {
    background: var(--red-gradient);
    height: 80px;
    width: min(calc(var(--content-width)+var(--margin-width) + 20px), 0px);
    margin-left: min(calc(var(--margin-width) * -1), -18px);
    margin-right: -20px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    display: flex;
    align-items: center;
  }
  h1 {
    color: white;
    margin-left: max(var(--margin-width), 18px);
  }
  div.stickyBorder {
    position: sticky;
    top: var(--header-height);
    margin-top: -20px;
    margin-bottom: calc(2rem + 20px);
    height: 8px;
    background-color: var(--red-gradient);
    transition: var(--transition-speed);
    z-index: -1;
  }
  :global(img) {
    position: relative;
    z-index: -2;
  }
  @media (max-width: calc(864rem / 16)) {
    div {
      width: 100vw;
      border-radius: 0;
      margin-right: 0;
    }
  }
</style>
