---
const { title, pubDate } = Astro.props;
const months = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];
const date = new Date(pubDate);
const fullDate =
  date.getDate() + " " + months[date.getMonth()] + " " + date.getFullYear();
---

<div class="titleWrapper">
  <h1>{title}</h1>
  {
    pubDate && (
      <p>
        <span>Published:</span> {fullDate}
      </p>
    )
  }
</div>
<div class="stickyBorder"></div>
<style>
  :root {
  }
  div {
    width: min(calc(var(--content-width)+var(--margin-width) + 20px), 0px);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
  div.titleWrapper {
    position: relative;
    background: var(--red-gradient);
    height: 80px;
    margin-left: min(calc(var(--margin-width) * -1), -18px);
    margin-right: -20px;
    display: flex;
    align-items: center;
    z-index: 5;
  }
  h1 {
    color: white;
    margin-left: max(var(--margin-width), 18px);
  }
  div.stickyBorder {
    position: sticky;
    top: var(--header-height);
    margin: -20px -18px calc(2rem + 20px) min(calc(var(--margin-width) * -1), -18px);
    height: 8px;
    background: var(--red-gradient);
    transition: var(--transition-speed);
    z-index: 0;
  }
  p {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 22px;
    color: white;
  }
  span {
    color: white;
    font-weight: 700;
  }
  @media (max-width: calc(864rem / 16)) {
    div.titleWrapper, div.stickyBorder {
      width: 100vw;
      border-radius: 0;
      margin-right: 0;
    }
  }
</style>
