---
import { Icon } from 'astro-icon/components'
const email = Astro?.locals?.email ?? ''
---

{
	email && email != 'Guest' && (
		<button
			type="button"
			title={`Signed in as ${email}`}
			class="group flex h-14 w-14 items-center rounded-full border-[3px] border-solid border-dark-red hover:border-white hover:bg-gradient-to-r hover:from-dark-red hover:to-light-red"
		>
			<Icon name="user" class="mx-auto mb-1 h-8 w-8 text-light-red group-hover:text-white" />
		</button>
	)
}
