---
import Layout from '../../layouts/BaseLayout.astro'
import Grid from '../../components/Grid.astro'
import FeatureCard from '../../components/FeatureCard.astro'
const title = 'My Web Projects'
const description = 'A home for my web experiments'
---

<Layout {title} {description}>
	<p>Here are some things that I've made for fun and learning!</p>
	<Grid>
		<FeatureCard
			heading="Board Games App"
			linkObj={{ label: 'Sign In', href: '/signin' }}
			icon="puzzle"
		>
			<p slot="altPath" class="!mt-0 text-white">
				Or <a href="/projects/games" class="text-white underline">play as guest</a>.
			</p>
			<p class="mb-3">
				I made some board games in React, partly for fun, but partly to learn React. Check them out!
			</p>
		</FeatureCard>
	</Grid>
</Layout>
