---
import Layout from '../../layouts/BaseLayout.astro'
import Grid from '../../components/Grid.astro'
import FeatureCard from '../../components/FeatureCard.astro'
import { supabase } from '../../lib/supabase'
import { setCookies } from '../../components/utils.js'
const title = 'My Web Projects'
const description = 'A home for my web experiments'
/*
const { cookies } = Astro
const accessToken = cookies.get('sb-access-token')
const refreshToken = cookies.get('sb-refresh-token')

let email

if (accessToken && refreshToken) {
	const { data, error } = await supabase.auth.setSession({
		refresh_token: refreshToken.value,
		access_token: accessToken.value
	})
	if (error) {
		console.log('error')
	} else {
		setCookies(data, cookies)
	}
	const email = data?.user?.email
} else {
	if (refreshToken) {
		const { data, error } = await supabase.auth.refreshSession({
			refresh_token: refreshToken.value
		})

		if (error) {
			cookies.delete('sb-refresh-token', {
				path: '/'
			})
		} else {
			setCookies(data, cookies)
		}

		const email = data?.user?.email
	}
}
*/
---

<Layout {title} {description}>
	<p>Here are some things that I've made for fun and learning!</p>
	<Grid>
		<FeatureCard
			heading="Board Games App"
			linkObj={{ label: 'Sign In', href: '/signin' }}
			icon="puzzle"
		>
			<p slot="altPath" class="!mt-0 text-white">
				Or <a href="/projects/games" class="text-white underline">play as guest</a>.
			</p>
			<p class="mb-3">
				I made some board games in React, partly for fun, but partly to learn React. Check them out!
			</p>
		</FeatureCard>
	</Grid>
</Layout>
