---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
    <img src={frontmatter.image ?? "/img/blog.svg"} />
    <div>
        <slot />
    </div>
</Layout>
<style>
    img {
        width: 200px;
        max-width: 30vw;
        height: auto;
        float: right;
        padding: 10px 10px 5px 10px;
    }
    div {
        max-width: 750px;
    }
</style>
