---
import Header from "../components/Header.astro";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
export interface Props {
	title: string;
	description: string;
}
//@ts-ignore
const { title, description, frontmatter } = Astro.props;
const pageTitle = title ?? frontmatter.title;
const pageDescription = description ?? frontmatter.description;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<GoogleAnalytics />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicon/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon/favicon-16x16.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={pageDescription} />
		<title>{pageTitle} - rohannelson.com</title>
	</head>
	<body>
		<Header />
		<main>
			<div class="container">
				<h1>{pageTitle}</h1>
				<slot />
			</div>
		</main>
		<style is:global>
			* {
				box-sizing: border-box;
			}
			:root {
				--accent: 124, 58, 237;
				--accent-gradient: linear-gradient(110deg, #a3c9ca, #cbf6ff);
				--theme-color: #a3c9ca;
				--theme-background: #f1f1f1 /*#e1d9d6*/;
			}
			html {
				font-family: system-ui, sans-serif;
				background-color: var(--theme-background);
			}
			code {
				font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
					DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
					monospace;
			}
			p,
			header a {
				font-size: 17px;
			}
			a.tag {
				text-decoration: none;
				color: black;
				padding: 0.25rem 0.5rem;
				border-radius: 5px;
				font-weight: 500;
				border: 1px solid black;
				font-style: italic;
				display: inline-block;
			}
			a.tag:focus,
			a.tag:hover {
				transform: scale(106%);
			}
			h2,
			h3,
			h4 {
				margin-bottom: 0.5rem;
			}
			h1 + h2,
			h2 + h3,
			h3 + h4 {
				margin-top: 0px;
			}
			li {
				margin-bottom: 0.5rem;
			}
		</style>
		<style>
			div.container {
				max-width: 700px;
				justify-content: center;
				margin: 0 auto;
				background-color: #f1f1f1;
				padding: 0 2rem 2rem 2rem;
				min-height: calc(100vh - var(--header-height));
			}
			body {
				margin: 0;
			}
			h1 {
				background-color: #dfdfdf;
				margin: 0 -2rem 2rem -2rem;
				padding: 0.75rem 2rem 1.5rem 2rem;
			}
		</style>
	</body>
</html>
