---
import Layout from "../../layouts/Layout.astro";
import fetchApi from "../../components/strapi";
const blogs = await fetchApi({
    endpoint: "blogs",
    wrappedByKey: "data",
});
console.log("TEST2");
console.log(blogs);
const title = blogs[0].attributes.title;
const description = blogs[0].attributes.description;
console.log(title);
const { teetle } = blogs[0].attributes;
console.log(teetle);

/*export async function getStaticPaths() {
    return [
        {params: {{slug:}}}
    ]
}
const { slug } = Astro.params;*/
---

<Layout title={title} description={description}>
    <p>hello</p>
</Layout>
